form {
    display: block;
    padding: 15px;
    width: 100%;
}

.input-group {
    display: block;
    width: 75%;
}

.input-btn {
    display: block;
    width: 25%;
}

.game-area {
  border: 1px solid black;
  border-radius: 25%;
  height: auto;
  padding: 15px;
  height: 400px;
}
